@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    background-color: black;
}
#div-1{
    height: 100%;
    width: 100%;
    color: white;
}
h1{
text-align: center;
}
img{
    border: 2px solid white;
    margin-left:25% ;
    margin-top: 100px;

}
p{
    text-align: center;
}