*{
    background-color: antiquewhite;
}
h1{
    color: whitesmoke;
    background-color: green;
}
h2{
    background-color: #faf8f1;
    background-color: #c58940;
}
#red{
    color: red;
    
}
#blue{
    color: blue;
}
#orange{
    color: orange;
}
#green{
    color: green;
}
#yellow{
    color: yellow;
}
.color-title{
    font-weight: normal;
}
img{
    height: 200px;
    width: 200px;
}